<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:mariadb://localhost:3306/tutorial</property>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.username">tutorial</property>
        <property name="connection.password">123456</property>

        <property name="dialect">org.hibernate.dialect.MariaDBDialect</property>

        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!--https://stackoverflow.com/questions/10691486/spring-source-suite-spring3-hibernate4-maven-3-mysql-5-->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <mapping resource="hibernate.hbm.xml"/>
    </session-factory>
</hibernate-configuration>